{% extends "base/base.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
  <div class="" role="document" style="margin-top: 15%; margin-bottom: 10%;">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                <div class="login-register-wrapper">
                    <div class="login-register-tab-list nav">
                        <a class="active" data-toggle="tab" href="#lg1">
                            <h4>{% trans "Password Reset" %}</h4>
                        </a>
                    </div>
                    <div class="tab-content">
                      <div class="container mt-xl-3">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endfor %}
                        {% endif %}
                      </div>
                        <div id="lg1" class="tab-pane active">
                            <div class="login-form-container" >
                                <div class="login-register-form">
                                    {% if user.is_authenticated %}
                                    {% include "account/snippets/already_logged_in.html" %}
                                    {% endif %}
                                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset" id="password_reset">
                                      {% csrf_token %}
                                        <input type="email" name="email" id="id_email" placeholder="Email" required autocomplete="email">
                                        <div class="button-box">
                                            <button type="submit" style="width:100%;" form="password_reset">Restablecer contraseña</button>
                                                        {% if form.errors %}
                                                        {% for field in form %}
                                                            {% for error in field.errors %}
                                                            <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                            </div>
                                                            {% endfor %}
                                                            {% endfor %}
                                                            {% for error in form.non_field_errors %}
                                                            <div class="alert alert-danger">
                                                            <strong>{{ error|escape }}</strong>
                                                            </div>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
