<!DOCTYPE html>
<html class="no-js" lang="es">
  {% load cart_template_tags %}
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Inicio:{% endblock %} | Cositas Favoritas</title>

    {% load static %}
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Favicon -->
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'assets/images/logo/cositasfavoritasblanco.png' %}"
    />
    <!-- All CSS is here
	============================================ -->

    <link
      rel="stylesheet"
      href="{% static 'assets/css/vendor/bootstrap.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/vendor/vandella.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/vendor/jellybelly.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/vendor/icofont.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/vendor/fontello.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/easyzoom.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/plugins/slick.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/nice-select.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/animate.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/magnific-popup.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/css/plugins/jquery-ui.css' %}"
    />
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />

    <!-- cssindex -->
    <link rel="stylesheet" href="{% static 'cssindex/style.css' %}" />
    <!-- cssindex -->

    <!-- Use the minified version files listed below for better performance and remove the files listed above
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
    {% block extra_css %}
    {% endblock %}
  </head>

  <body>
    <div class="main-wrapper main-wrapper-3">
      <header class="header-area section-padding-1 transparent-bar">
        <div class="header-large-device">
          <div class="header-bottom bg-theme-color-brown sticky-bar">
            <div class="container-fluid">
              <div class="row align-items-center">
                <div class="col-xl-6 col-lg-4">
                  <div class="logo-menu-wrap-2">
                    <div class="logo">
                      <a href="{% url 'core:index' %}">
                        <img
                          src="{% static 'assets/images/logo/cositasfavoritasblanco.png' %}"
                          alt="logo"
                          style="width: 120px; height: 75px"
                        />
                      </a>
                    </div>
                    <div class="col-xl-6 col-lg-8">
                      <div
                        class="header-action-wrap header-action-flex header-action-width"
                      >
                        <div
                          class="main-menu main-menu-white menu-lh-1 main-menu-padding-1 menu-mrg-0"
                        >
                          <nav>
                            <ul>
                              <li><a href="{% url 'core:index' %}">Inicio</a></li>
                              <li>
                                <a href="{% url 'core:store' %}">Tienda</a>
                                <ul class="sub-menu-width">
                                  <li><a href="{% url 'core:store' %}">Bebes</a></li> 
                                  <li><a href="{% url 'core:store' %}">Niños de 1 a 3 años</a></li> 
                                  <li><a href="{% url 'core:store' %}">Niños 3 años en adelante</a></li>  
                                </ul>
                              </li>
                              <li><a href="{% url 'core:faq' %}">FAQ</a></li>
                            </ul>
                          </nav>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                  <div
                    class="header-action-wrap header-action-flex header-action-width"
                  >
                    <div
                      class="main-menu main-menu-white menu-lh-1 main-menu-padding-1 menu-mrg-1"
                    >
                      <nav>
                        <ul>
                          <li>
                            <a href="#"> Solo hoy: envíos gratis </a>
                            <!-- <a href="">Llámanos al 914-123-456</a> -->
                          </li>
                          {% if user.is_authenticated %}
                          <li>
                            <div
                              class="same-style same-style-white header-cart pet-food-cart  ml-xl-3">
                              <a class="pr-3" href="{% url 'core:account' %}" ><i class="icofont-user-alt-3 "></i>{{ user.username }}</a>
                            </div>
                          </li>
                          {% else %}
                          <li>
                            <div
                              class="same-style same-style-white header-cart pet-food-cart" 
                            >
                              <a class="pr-3" href="#"  data-toggle="modal" data-target="#exampleModal1"><i class="icofont-user-alt-3 "></i> Login</a>
                            </div>
                          </li>
                          {% endif %}
                        </ul>
                      </nav>
                    </div>
                    {% if user.is_authenticated %}
                    <div
                      class="same-style same-style-white header-cart pet-food-cart  ml-xl-3"
                    >
                      <a class="cart-active" href="#"
                        >{{ request.user|cart_item_count }}<i class="icofont-shopping-cart"></i
                      ></a>
                    </div>
                    {% endif %}
                      {% if user.is_authenticated %}
                    <div class="same-style same-style-white header-cart pet-food-cart  ml-xl-3">
                      <a class="pr-3" href="{% url 'account_logout' %}" >Salir<i class="icofont-logout"></i></a>
                    </div>
                      {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="header-small-device header-small-ptb sticky-bar">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-6">
                <div class="mobile-logo mobile-logo-width">
                  <a href="{% url 'core:index' %}">
                    <img
                      alt=""
                      src="{% static 'assets/images/logo/cositasfavoritasblanco.png' %}"
                      style="width: 75%; height: 100%"
                    />
                  </a>
                </div>
              </div>
              <div class="col-6">
                <div
                  class="header-action-wrap header-action-flex header-action-mrg-1"
                >
                  <div class="same-style header-cart">
                    <a class=""data-toggle="modal" data-target="#exampleModal1"  href="#"
                      ><i class="icofont-user-alt-3 pr-2 " ></i
                    ></a>
                  </div>
                  <div class="same-style header-cart">
                    <a class="cart-active" href="#"
                      ><i class="icofont-shopping-cart"></i
                    ></a>
                  </div>
                  <div class="same-style header-info">
                    <button class="mobile-menu-button-active">
                      <span class="info-width-1"></span>
                      <span class="info-width-2"></span>
                      <span class="info-width-3"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <!-- mini cart start -->
      <div class="sidebar-cart-active">
        <div class="sidebar-cart-all">
          <a class="cart-close" href="#"><i class="icofont-close-line"></i></a>
          <div class="cart-content">
            <h3>Carrito</h3>
            <ul>
              
              {% load humanize %}
              {% for order_item in carro.items.all %}
              <li class="single-product-cart">
                <div class="cart-img">
                  <a href="#"
                    ><img src="{{order_item.item.image.url}}" alt=""
                  /></a>
                </div>
                <div class="cart-title">
                  <h4><a href="#">{{order_item.item.description}}</a></h4>
                  <span> {{ order_item.quantity }} × ${{ order_item.totalItem }} </span>
                </div>
                <div class="cart-delete">
                  <a href="{% url 'core:remove-from-cart-modal' slug=order_item.item.slug  %}">×</a>
                </div>
              </li>
              {% endfor %}
            </ul>
            <div class="cart-total">
              <h4>Subtotal: <span>${{ carro.get_total|floatformat:"0" }}</span></h4>
            </div>
            <div class="cart-checkout-btn">
              <a class="btn-hover cart-btn-style" href="{% url 'core:cart' %}">Ver Carrito</a>
              <!-- <a class="no-mrg btn-hover cart-btn-style" href="">checkout</a> -->
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu start -->
      <div class="mobile-menu-active clickalbe-sidebar-wrapper-style-1">
        <div class="clickalbe-sidebar-wrap">
          <a class="sidebar-close"><i class="icofont-close-line"></i></a>
          <div class="mobile-menu-content-area sidebar-content-100-percent">
            <div class="clickable-mainmenu-wrap clickable-mainmenu-style1">
              <nav>
                <ul>
                  <li class="has-sub-menu">
                    <a href="{% url 'core:index' %}">Inicio</a>
                  </li>
                  <li class="has-sub-menu">
                    <a href="#">Tienda</a>
                    <ul class="sub-menu-2">
                      <li><a href="{% url 'core:store' %}">Bebes</a></li> 
                      <li><a href="{% url 'core:store' %}">Niños de 1 a 3 años</a></li> 
                      <li><a href="{% url 'core:store' %}">Niños 3 años en adelante</a></li>  
                    </ul>
                  </li>
                  <li><a href="{% url 'core:faq' %}">FAQ</a></li>
                </ul>
              </nav>
            </div>
            <!-- <div class="aside-contact-info">
            <ul>
              <li>
                <i class="icofont-clock-time"></i>Monday - Friday: 9:00 -
                19:00
              </li>
              <li><i class="icofont-envelope"></i>Info@example.com</li>
              <li><i class="icofont-stock-mobile"></i>(+55) 254. 254. 254</li>
              <li>
                <i class="icofont-home"></i>Helios Tower 75 Tam Trinh Hoang -
                Ha Noi - Viet Nam
              </li>
            </ul>
          </div> -->
          </div>
        </div>
      </div>
      {% block content %}{% endblock %}

      <footer class="footer-area bg-brown">
        <div class="footer-bottom">
          <div class="container">
            <div class="copyright-ptb-3 border-top-2">
              <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                  <div class="copyright-2">
                    <p>
                      Copyright ©
                      <a target="_blank" href=" ">
                        Todos los Derechos Reservados</a
                      >
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6">
                  <div
                    class="footer-menu footer-menu-right footer-menu-right-blue"
                  >
                    <nav>
                      <ul>
                        <li><a href="#">Terminos y Condiciones</a></li>
                        <li><a href="#">Privacidad</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" style="background-color: white;  overflow-y:hidden !important;">
        <div class="modal-dialog " role="document">
          <div class="modal-content " style="background-color: white; border: none;">
            <div class="modal-header " style=" border: none; z-index: 15;">
              <button
                type="button"
                class="close"
                data-dismiss="modal"
                aria-label="Close"
              >
                <span aria-hidden="true">x</span>
              </button>
            </div>
            <div class="modal-body" style="position: relative; top:-80px; ">
              <div class="login-register-area    ">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                            <div class="login-register-wrapper">
                                <div class="login-register-tab-list nav">
                                    <a class="active" data-toggle="tab" href="#lg1">
                                        <h4> Iniciar Sesión</h4>
                                    </a>
                                    <a data-toggle="tab" href="#lg2">
                                        <h4> Regístrate </h4>
                                    </a>
                                </div>
                                <div class="tab-content">
                                    <div id="lg1" class="tab-pane active">
                                      <h2 class="linea"><span>¿Eres nuevo en este sitio? Regístrate</span></h2>
                                        <div class="login-form-container">
                                            <div class="login-register-form">
                                                <form action="{% url 'account_login' %}" method="post">
                                                    <input type="text" name="login" id="id_login" placeholder="Usuario o Email">
                                                    <input type="password" name="password" id="id_password" placeholder="Contraseña">
                                                    <div class="button-box">
                                                        <div class="login-toggle-btn">
                                                            <input type="checkbox">
                                                            <label>Recordar contrasñea</label>
                                                            <a href="#" class="pt-15 pb-15">¿Olvido su contraseña?</a>
                                                        </div>
                                                        <button type="submit" style="width:100%;">Iniciar Sesión</button>
                                                    </div>
                                                    {% csrf_token %}
                                                    {% if form.errors %}
                                                    {% for field in form %}
                                                    {% for error in field.errors %}
                                                    <div class="alert alert-error">
                                                      <strong>{{ error|escape }}</strong>
                                                    </div>
                                                    {% endfor %}
                                                    {% endfor %}
                                                    {% for error in form.non_field_errors %}
                                                    <div class="alert alert-error">
                                                      <strong>{{ error|escape }}</strong>
                                                    </div>
                                                    {% endfor %}
                                                    {% endif %}
                                                    <h2 class="linea"><span>O conéctate con</span></h2>
                                                    <div class="form-flex">
                                                      <div class="form-img">
                                                       <a href="">
                                                         <img src="{% static 'assets/img/facebook.png' %}" alt="">
                                                       </a> 
                                                      </div>
                                                      <div class="form-images">
                                                        <a href="">
                                                          <img src="{% static 'assets/img/google.jpg' %}" alt="">
                                                        </a>
                                                      </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="lg2" class="tab-pane">
                                      <h2 class="linea"><span>¿Ya tienes un perfil personal? Inicia Sesión</span></h2>
                                        <div class="login-form-container">
                                            <div class="login-register-form">
                                                <form action="#" method="post">
                                                    <input type="text" name="user-name" placeholder="Usuario">
                                                    <input type="password" name="user-password" placeholder="Contraseña">
                                                    <input name="user-email" placeholder="Email" type="Email">
                                                    <div class="button-box">
                                                        <button type="submit" style="width:100%;">Regístrate</button>
                                                    </div>
                                                    <h2 class="linea"><span>O regístrate con</span></h2>
                                                    <div class="form-flex">
                                                      <div class="form-img">
                                                       <a href="">
                                                         <img src="{% static 'assets/img/facebook.png' %}" alt="">
                                                       </a> 
                                                      </div>
                                                      <div class="form-images">
                                                        <a href="">
                                                          <img src="{% static 'assets/img/google.jpg' %}" alt="">
                                                        </a>
                                                      </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal end -->
    </div>

    <!-- All JS is here
============================================ -->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-3.5.1.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}"></script>
    <script src="{% static 'assets/js/plugins/countdown.js' %}"></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}"></script>
    <script src="{% static 'assets/js/plugins/instafeed.js' %}"></script>
    <script src="{% static 'assets/js/plugins/svg-injector.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/mouse-parallax.js' %}"></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}"></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui-touch-punch.js' %}"></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/easyzoom.js' %}"></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}"></script>
    <script src="{% static 'assets/js/plugins/ajax-mail.js' %}"></script>

    <!-- Use the minified version files listed below for better performance and remove the files listed above
<script src="assets/js/vendor/vendor.min.js"></script>
<script src="assets/js/plugins/plugins.min.js"></script> -->
    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>
    <script src="{% static 'assets/js/index.js' %}"></script>
    {% block extra_js %}
    {% endblock %}
  </body>
</html>
