<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Inicio | Cositas Favoritas</title>
  <meta name="robots" content="noindex, follow" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/x-icon" href="assets/images/logo/cositasfavoritasblanco.png" />

  <!-- All CSS is here
	============================================ -->

  <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css" />
  <link rel="stylesheet" href="assets/css/vendor/vandella.css" />
  <link rel="stylesheet" href="assets/css/vendor/jellybelly.css" />
  <link rel="stylesheet" href="assets/css/vendor/icofont.min.css" />
  <link rel="stylesheet" href="assets/css/vendor/fontello.css" />
  <link rel="stylesheet" href="assets/css/plugins/easyzoom.css" />
  <link rel="stylesheet" href="assets/css/plugins/slick.css" />
  <link rel="stylesheet" href="assets/css/plugins/nice-select.css" />
  <link rel="stylesheet" href="assets/css/plugins/animate.css" />
  <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css" />
  <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css" />
  <link rel="stylesheet" href="assets/css/style.css" />


  <!-- cssindex -->
  <link rel="stylesheet" href="cssindex/style.css" />
  <!-- cssindex -->


  <!-- Use the minified version files listed below for better performance and remove the files listed above
    <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plugins.min.css">
    <link rel="stylesheet" href="assets/css/style.min.css"> -->
</head>

<body>
  <div class="main-wrapper main-wrapper-3">

    <header class="header-area   section-padding-1 transparent-bar">
      <div class="header-large-device"> 

        <div class="header-bottom bg-theme-color-brown  sticky-bar">
          <div class="container-fluid">
            <div class="row align-items-center">
              <div class="col-xl-6 col-lg-4">
                <div class="logo-menu-wrap-2">
                  <div class="logo">
                    <a href="index.php">
                      <img src="assets/images/logo/cositasfavoritasblanco.png" alt="logo" style="width: 120px; height: 75px" />
                    </a>
                  </div>
                  <div class="col-xl-6 col-lg-8">
                    <div class="header-action-wrap header-action-flex header-action-width">
                      <div class="main-menu main-menu-white menu-lh-1 main-menu-padding-1 menu-mrg-0">
                        <nav>
                          <ul>
                            <li><a href="index.php">Inicio</a></li>
                            <li>
                              <a href="tienda.php">Tienda</a>
                              <ul class="sub-menu-width">
                                <li><a href="tienda.php">Niños</a></li>
                                <li><a href="tienda.php">Niñas</a></li>
                              </ul>
                            </li>
                            <li><a href=" ">FAQ</a></li>
                          </ul>
                        </nav>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-8">
                <div class="header-action-wrap header-action-flex header-action-width">
                  <div class="main-menu main-menu-white menu-lh-1 main-menu-padding-1 menu-mrg-1">
                    <nav>
                      <ul>
                        <li>
                          <a href="#">
                            Solo hoy: envíos gratis
                          </a>
                          <!-- <a href="">Llámanos al 914-123-456</a> -->
                        </li>
                        <li>
                        <div class="same-style same-style-white header-cart pet-food-cart">
                          <a class="cart-active" href="#"><i class="icofont-user-alt-3 pr-2"></i> Acceder</a>
                        </div>
                        </li>
                      </ul>
                    </nav>
                  </div>

                  <div class="same-style same-style-white header-cart pet-food-cart">
                    <a class="cart-active " href="#">0<i class="icofont-shopping-cart"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="header-small-device header-small-ptb sticky-bar">
        <div class="container-fluid">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="mobile-logo mobile-logo-width">
                <a href="index.php">
                  <img alt="" src="assets/images/logo/cositasfavoritasblanco.png" style="width:75%; height:100%;" />
                </a>
              </div>
            </div>
            <div class="col-6">
              <div class="header-action-wrap header-action-flex header-action-mrg-1">
                <div class="same-style header-cart">
                  <a class="cart-active" href="#"><i class="icofont-user-alt-3 pr-2"></i></a>
                </div>
                <div class="same-style header-cart">
                  <a class="cart-active" href="#"><i class="icofont-shopping-cart"></i></a>
                </div>
                <div class="same-style header-info">
                  <button class="mobile-menu-button-active">
                    <span class="info-width-1"></span>
                    <span class="info-width-2"></span>
                    <span class="info-width-3"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- mini cart start -->
    <div class="sidebar-cart-active">
      <div class="sidebar-cart-all">
        <a class="cart-close" href="#"><i class="icofont-close-line"></i></a>
        <div class="cart-content">
          <h3>Carrito</h3>
          <ul>
            <li class="single-product-cart">
              <div class="cart-img">
                <a href="#"><img src="assets/img/producto.jpg" alt="" /></a>
              </div>
              <div class="cart-title">
                <h4><a href="#">Nombre del Producto</a></h4>
                <span> 1 × $ XXXX </span>
              </div>
              <div class="cart-delete">
                <a href="#">×</a>
              </div>
            </li>
            <li class="single-product-cart">
              <div class="cart-img">
                <a href="#"><img src="assets/img/producto.jpg" alt="" /></a>
              </div>
              <div class="cart-title">
                <h4><a href="#">Nombre del Producto</a></h4>
                <span> 1 × $ XXXX </span>
              </div>
              <div class="cart-delete">
                <a href="#">×</a>
              </div>
            </li>
          </ul>
          <div class="cart-total">
            <h4>Subtotal: <span>$ XXXX</span></h4>
          </div>
          <div class="cart-checkout-btn">
            <a class="btn-hover cart-btn-style" href="">Ver Carrito</a>
            <!-- <a class="no-mrg btn-hover cart-btn-style" href="">checkout</a> -->
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu start -->
    <div class="mobile-menu-active clickalbe-sidebar-wrapper-style-1">
      <div class="clickalbe-sidebar-wrap">
        <a class="sidebar-close"><i class="icofont-close-line"></i></a>
        <div class="mobile-menu-content-area sidebar-content-100-percent"> 
          <div class="clickable-mainmenu-wrap clickable-mainmenu-style1">
            <nav>
              <ul>
                <li class="has-sub-menu">
                  <a href="index.php">Inicio</a> 
                </li>
                <li class="has-sub-menu">
                  <a href="#">Tienda</a>
                  <ul class="sub-menu-2">
                    <a href="tienda.php">Niño</a> 
                    <li class="has-sub-menu">
                    </li> 
                    <li class="has-sub-menu">
                      <a href="tienda.php">Niña</a> 
                    </li> 
                  </ul>
                </li> 
                <li><a href="#">FAQ</a></li>  
              </ul>
            </nav>
          </div> 
          <!-- <div class="aside-contact-info">
            <ul>
              <li>
                <i class="icofont-clock-time"></i>Monday - Friday: 9:00 -
                19:00
              </li>
              <li><i class="icofont-envelope"></i>Info@example.com</li>
              <li><i class="icofont-stock-mobile"></i>(+55) 254. 254. 254</li>
              <li>
                <i class="icofont-home"></i>Helios Tower 75 Tam Trinh Hoang -
                Ha Noi - Viet Nam
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>