.middle-center {
  /* background-color: black;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.color_rose {
  color: #ed4aca !important;
}
.complete-banner_100 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%; 
}
.midle-baner_50 {
  width: 50%;
  height: 500px;
}
.midle-baner_50 img {
  width: 100%;
  height: 100%;
}
.baner-center {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.middle-center h3 {
  font-size: 50px;
  color: white;
  width: 50%;
  text-align: center;
}
.midle-baner_color {
  width: 50%;
  background-color: #ed4aca;
  height: 500px;
} 
/* Cuadro contactanos index */

.contain-form{ 
    height:600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../assets/img/zapatos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.contain-center{
    height: 500px;
    width: 50%;
    background-color: white; 
}
.contain-titulo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.contain-titulo h4{
    font-size: 15px;
    color: #ed4aca;
    text-align: center;
}
.contain-form_input{
    display: flex;
    justify-content: center;
}
.contain-input{
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    
}
.contain-input label{
    font-size: 12px;
}
.contain-input input{
    border-radius: 5px;
}
.contain-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contain_button{
    width: 94%;
    margin-top: 10px;

}
.contain_button button{
    width: 100%;
    background-color: #ed4aca;
    border: none;
    color: white;
}
.contain_button button:hover{
    width: 100%;
    background-color: black;
    border: none;
    color: white;
}

/* modal inicio de sesion */

.form-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}  
.form-img img{  
  width: 30px;
  margin-right: 25px;
}
.form-images img{
  width: 30px;
  margin-left: 25px;
}
h2 {
  font: 15px sans-serif;
  margin-top: 30px;
  text-align: center;
}
h2.linea {
  position: relative;
  z-index: 1;
}
h2.linea:before {
  border-top: 1px solid black;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {

  background: #fff;
  padding: 0 15px;
}

/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
@media only screen and (max-width: 900px) {
  .pet-food-bg-img img{
    display: none;
  }
  .complete-banner_100 {
    display: block;
  }
  .midle-baner_50 {
    width: 100%;
    height: 250px;
  }
  .midle-baner_color {
    width: 100%;
    background-color: #ed4aca;
    height: 250px;
  }
  .baner-center{
      margin-top: 0;
      height: 100%; 
  }
  .middle-center h3 {
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
  }
  .middle-center .btn-style-3{
      position: relative;
      top: -100px;
  }
  /* cuadro contactanos index */
  .contain-form{ 
display: none;
}
.contain-center{
    height: 500px;
    width: 50%;
    background-color: white; 
}
.contain-titulo{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
.contain-titulo h4{
    font-size: 15px;
    color: #ed4aca;
    text-align: center;
}
.contain-form_input{
    display: flex;
    justify-content: center;
}
.contain-input{
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    
}
.contain-input label{
    font-size: 12px;
}
.contain-input input{
    border-radius: 5px;
}
.contain-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.contain_button{
    width: 94%;
    margin-top: 10px;

}
.contain_button button{
    width: 100%;
    background-color: #ed4aca;
    border: none;
    color: white;
}
.contain_button button:hover{
    width: 100%;
    background-color: black;
    border: none;
    color: white;
}

/* card-deck */
.card-deck{
  width: 100%;
}
}
