.middle-center {
  /* background-color: black;  */
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-end {
  display: flex;
  justify-content: end;
  align-items: end;
}
.color_rose {
  color: #ed4aca !important;
}
.complete-banner_100 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.midle-baner_50 {
  width: 50%;
  height: 500px;
}
.midle-baner_50 img {
  width: 100%;
  height: 100%;
}
.baner-center {
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
}
.middle-center h3 {
  font-size: 50px;
  color: white;
  width: 50%;
  font-weight: bold;
  text-align: center;
}
.midle-baner_color {
  width: 50%;
  background-color: #ed4aca;
  height: 500px;
}
/* cuadro ventas */
.responsive-table{
  display: none;
}

/* card */
.card{
  box-shadow:  0 4px 6px rgba(0,0,0,0.25), 1px 0 3px 2px rgba(0,0,0,0.22);
}
 .card-body h5{
  color: black;
  font-weight: bold;
 }
 .card-body p{
  color: black;
  font-weight: lighter;
  text-align: justify;
 }
/* Cuadro contactanos index */

.contain-form {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../assets/img/ss.jpg);
  background-size: cover; 
  background-repeat: no-repeat;
}
.contain-center {
  height: 550px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  width: 50%;
  background-color: white;
  box-shadow:  0 10px 27px rgba(0,0,0,0.25), 1px 0 27px 10px rgba(0,0,0,0.22);
}
.contain-titulo {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.contain-titulo h4 {
  font-size: 20px;
  color: #ed4aca;
  font-weight: bolder;
  text-align: center;
}
.contain-form_input {
  display: flex;
  justify-content: center;
}
.contain-input {
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}
.contain-input label {
  font-size: 12px;
}
.contain-input input {
  border-radius: 5px;
}
.contain-button {
  width: 100%;
  display: flex;
  justify-content: center;

}
.contain_button {
  width: 92%;
  margin-top: 10px;

}
.contain_button button {
  width: 100%;
  height: 30px;
  background-color: #ed4aca;
  border: none;
  font-weight: bold;
  color: white;
  border-radius: 5px;

}
.contain_button button:hover {
  width: 100%;
  background-color: black;
  border: none;
  color: white;
}

/* modal inicio de sesion */

.form-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form-img img {
  width: 30px;
  margin-right: 25px;
}
.form-images img {
  width: 30px;
  margin-left: 25px;
}
h2 {
  font: 15px sans-serif;
  margin-top: 30px;
  text-align: center;
}
h2.linea {
  position: relative;
  z-index: 1;
}
h2.linea:before {
  border-top: 1px solid black;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2.linea span {
  background: #fff;
  padding: 0 15px;
}

/* Card preguntas */
.card {
  border: none;
}

.card-header {
  background-color: transparent;
}
.card-header button {
  color: black;
  text-decoration: none;
}
.card-header button:hover {
  color: #ed4aca;
  text-decoration: none;
}
.card-body {
  color: black;
  font-weight: bold;
}
.card-body h5{
  font-weight: bold;
  font-size: 20px;
}
.card-body .card-text{
  font-weight: bolder; 
  color: black;
}
.accordion {
  border: none;
}
.product-slider-active-4 .priv_arrow {
  position: absolute;
  top: 80px;
  left: -80px;
  color: #ffff;
  width: 50px;
  height: 50px;
  background-color: #ed4aca;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
}
.product-slider-active-4 .priv_arrow:hover {
  background-color: black;

}
.product-slider-active-4 .next_arrow {
  position: absolute;
  top: 80px;
  left: 102%;
  color: #ffff;
  width: 50px;
  height: 50px;
  background-color: #ed4aca;
  border-radius: 30px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
}.product-slider-active-4 .next_arrow:hover {
  background-color: black;

}

hr.hr-1 {
  border: 0;
  width: 50%;
  height: 4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #ed4aca, rgba(0, 0, 0, 0));
}
/* laptop */
@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) {
  .mobile-logo-width img {
    width: 30% !important;
    height: 100%;
  }
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Cuando la pantalla es menor a 900px  (tablets y teléfonos inteligentes)*/
/* moto g4 */
@media only screen and (min-device-width: 412px) and (max-device-width: 915px) {
  .mobile-logo-width img {
    width: 30% !important;
    height: 100%;
  }
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* samsung galaxy 20 */
@media only screen and (min-device-width: 640px) and (max-device-width: 360px) {
  .mobile-logo-width img {
    width: 30% !important;
    height: 50px !important;
  }
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* iphone x */
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
  .mobile-logo img {
    width: 75% !important;
    height: 50px !important;
  }
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* tablets */
@media only screen and (min-device-width: 1024px) and (max-device-width: 768px) {
  .mobile-logo img {
    width: 50% !important;
    height: 50px !important;
  }
  .pet-food-bg-img img {
    width: 100%;
    background-size: contain !important;
    position: relative;
    top: 100px;
  }
  .header-small-device {
    display: block;
  }
  .header-large-device {
    display: none;
  }
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .mobile-logo img {
    width: 10%;
    height: 70px !important;
  }
  .pet-food-bg-img img {
    width: 100%;
    background-size: contain !important;
    position: relative;
    top: 100px;
  }
  .header-small-device {
    display: block;
  }
  .header-large-device {
    display: none;
  }
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media only screen and (max-width: 900px) {
  .product-slider-active-4 .priv_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .product-slider-active-4 .next_arrow {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }
  .pet-food-bg-img img {
    display: none;
  }
  .complete-banner_100 {
    display: block;
  }
  .midle-baner_50 {
    width: 100%;
    height: 250px;
  }
  .midle-baner_color {
    width: 100%;
    background-color: #ed4aca;
    height: 250px;
  }
  .baner-center {
    margin-top: 0;
    height: 100%;
  }
  .middle-center h3 {
    font-size: 20px;
    color: white;
    width: 100%;
    text-align: center;
  }
  .middle-center .btn-style-3 {
    position: relative;
    top: -100px;
  }
  /* cuadro ventas */
  .responsive-table{
    display: block;
  }
  /* cuadro card */
  .card{
   margin: auto;
    width: 90%;
  } 
   .card-body h5{
    color: black;
    font-weight: bold; 
   }
  /* cuadro contactanos index */
  .contain-form {
    padding-top: 10px;
    width: 100%;
  }
  .contain-center { 
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    height: 550px;
    width: 90%;
    background-color: white;
  }
  .contain-titulo {
    display: flex;
    justify-content: center;
    margin-top: 25px;
  }
  .contain-titulo h4 {
    font-size: 15px;
    color: #ed4aca;
    text-align: center;
  }
  .contain-form_input {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contain-input {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
  }
  .contain-input label {
    font-size: 12px;
  }
  .contain-input input {
    border-radius: 5px;
  }
  .contain-button {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .contain_button {
    width: 85%;
    margin-top: 10px;
  }
  .contain_button button {
    width: 100%;
    background-color: #ed4aca;
    border: none;
    color: white;
  }
  .contain_button button:hover {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
  }

  /* card-deck */
  .card-deck {
    width: 100%;
    padding-left: 0%;
  }
}
