{% extends 'base/base.html' %}
{% block title %}Carrito{% endblock %}
{% load static %}

{% block content %}


<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
  </div>


<div class="breadcrumb-area breadcrumb-mt breadcrumb-ptb-2">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Carrito</h2>
            <ul>
                <li>
                    <a href="{% url 'core:index' %}">Inicio </a>
                </li>
                <li><span> > </span></li>
                <li>
                    <a href="{% url 'core:store' %}">Productos </a>
                </li>
                <li><span> > </span></li>
                <li class="active"> Carrito </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-check-order-link-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="cart-check-order-link">
                    <a class="active" href="{% url 'core:cart' %}">Carrito de compras</a>
                    <a href="{% url 'core:check-out' %}">Verificar</a>
                    <a  href="{% url 'core:checkoutCompleta' %}">Orden completada</a>
                </div>
            </div>
        </div>
    </div>
</div>

        <div class="cart-area bg-gray pt-50 pb-160">
            <div class="container">
                <form action="#">
                    <div class="proceed-btn">
                        <a href="{% url 'core:check-out' %}">
                            Continuar</a>
                    </div>
                    <div class="cart-table-content">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th class="th-text-center"> Precio</th>
                                        <th class="th-text-center">Cantidad</th>
                                        <th class="th-text-center">Precio Total</th>
                                        <th class="th-text-center">Remover</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    
                                {% for order_item in carro.items.all %}
                                    <tr>
                                        <td class="cart-product">
                                            <div class="product-img-info-wrap">
                                                <div class="product-img">
                                                    <a href="#"><img src="{{order_item.item.image.url}}" alt=""></a>
                                                </div>
                                                <div class="product-info">
                                                    <h4><a href="#">{{order_item.item.description}}</a></h4>
                                                    <!-- <span>Color :  Negro</span>
                                                    <span>Talla :   S</span> -->
                                                </div>
                                            </div>
                                        </td>
                                        <td class="product-price"><span class="amount"> ${{ order_item.totalItem }}</span></td>
                                        <td class="cart-quality">
                                            <div class="pro-details-quality">
                                                <div class="cart-plus-minus">
                                                    <!-- <a class="dec qtybtn" href="{% url 'core:remove-single-item-from-cart' slug=order_item.item.slug %}">-</a>
                                                    <input type="text" value="{{ order_item.quantity }}" readonly>
                                                    <a class="inc qtybtn"  href="{% url 'core:add-to-cart' slug=order_item.item.slug %}">+</a> -->
                                                    <input class="cart-plus-minus-box plus-minus-width-inc" type="text" name="qtybutton" value="{{ order_item.quantity }}">
                                                </div>
                                            </div>
                                        </td>
                                        {% load humanize %}
                                        <td class="product-total"><span> ${{ order_item.get_total_item_price }}</span></td>
                                        <td class="product-remove"><a href="{% url 'core:remove-from-cart' slug=order_item.item.slug  %}"><img class="inject-me" src="{% static 'assets/images/icon-img/close.svg' %}" alt=""></a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="cart-shiping-update-wrapper">
                            <a href="{% url 'core:store' %}">Continuar Comprando</a>
                            <a href="{% url 'core:cart' %}">Actualizar Carrito</a>
                            <a href="#">Limpiar Carrito</a>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="discount-code-wrapper discount-tax-wrap">
                            <h4>Código promocional</h4>
                            <div class="discount-code">
                                <p>¡Ingrese su código de cupón si tiene uno!</p>
                                <form>
                                    <input type="text" required="" placeholder="Enter your code here." name="name">
                                    <button type="submit">Aplicar cupón </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-lg-6 col-md-6">
                        <div class="tax-wrapper discount-tax-wrap">
                            <h4>Get shipping estimatesss</h4>
                            <div class="discount-code">
                                <p>Enter your coupon code if you have one!</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <select class="nice-select nice-select-style-3 cart-tax-select">
                                            <option>Select Country </option>
                                            <option>Bangladesh</option>
                                            <option>Bahamas</option>
                                            <option>Bahrain</option>
                                            <option>Bangladesh</option>
                                            <option>Barbados</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-6">
                                        <input type="text" required="" placeholder="Zip Code" name="name">
                                    </div>
                                </div>
                                <button type="submit">Apply Coupon </button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>


        {% endblock %}
