{% extends 'base/base.html' %}
{% block title %}Verificación{% endblock %}
{% load static %}

{% block content %}
<form action="{% url 'core:check-out' %}" method="post" id="checkout">
    {% csrf_token %}
        <div class="breadcrumb-area mt-150">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Área de pago</h2>
                    <ul>
                        <li>
                            <a href="{% url 'core:index' %}">Inicio </a>
                        </li>
                        <li><span> > </span></li>
                        <li>
                            <a href="{% url 'core:store' %}">Productos </a>
                        </li>
                        <li><span> > </span></li>
                        <li class="active"> Área de pago </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="cart-check-order-link-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 ml-auto mr-auto">
                        <div class="cart-check-order-link">
                            <a href="{% url 'core:cart' %}">Carrito de compras</a>
                            <a class="active" href="{% url 'core:check-out' %}">Área de pago</a>
                            <!-- <a href="{% url 'core:CheckoutFinish' %}">Orden completada</a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="checkout-area bg-gray pt-50 pb-160">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="checkout-left-wrap">
                            <div class="shipping-address-wrap">
                                <h4 class="checkout-title">Dirección de Facturación</h4>
                                <div class="row">
                                    <!-- <div class="col-lg-6">
                                        <div class="billing-info">
                                            <input type="text" required="" placeholder="Nombre" name="name">
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-lg-6">
                                        <div class="billing-info">
                                            <input type="text" required="" placeholder="Apellido" name="name">
                                        </div>
                                    </div> -->
                                    <div class="col-lg-12">
                                        <div class="billing-info">
                                            {{form.directionforms}}
                                            <!-- <input type="text" required="" placeholder="Dirección" name="street_address"> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info">
                                            {{form.CodeLocation}}
                                            <!-- <input type="text" required="" placeholder="Apartamento" name="apartment_address"> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="billing-info">
                                            {{form.Province}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="billing-info">
                                            <!-- <input type="text" required="" placeholder="Codígo Postal" name="postal_code"> -->
                                            {{form.district}}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-save-info">
                                            {{form.save}}
                                            <span> Guarda esta información para la próxima vez</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-save-info">
                                            {{form.same_shipping_address}}
                                            <span>¿Misma dirección de envío?</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="shipping-address-wrap" id="shipping_address">
                                <h4 class="checkout-title">Dirección de Envío</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="billing-info">
                                            {{form1.directionforms1}}
                                            <!-- <input type="text" required="" placeholder="Dirección" name="street_address"> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="billing-info">
                                            {{form1.CodeLocation1}}
                                            <!-- <input type="text" required="" placeholder="Apartamento" name="apartment_address"> -->
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="billing-info">
                                            {{form1.Province1}}
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="billing-info">
                                            <!-- <input type="text" required="" placeholder="Codígo Postal" name="postal_code"> -->
                                            {{form1.district1}}
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="checkout-save-info">
                                            {{form1.save1}}
                                            <span> Guarda esta información para la próxima vez</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="payment-details mb-40">
                            <h4 class="checkout-title">  Detalles de pago</h4>
                            <ul>
                                {% for item in order.items.all %}
                                <li>{{ item.item.description }} x{{ item.quantity }} <span>${{ item.get_total_item_price }}</span></li> 
                                <hr class="hr-2">
                                
                                <div class="border-carrito">
                                {% endfor %}
                                <li>Subtotal del carrito : <span>${{ order.get_total }}</span></li> 

                                <!-- <li>Envío y Entrega <span>$15.00</span></li> -->
                                <li>  Impuesto :<span>${{ order.get_iva_order }}</span></li>
                                <div class="total-order">
                                    <ul>
                                        <li>Total a pagar : <span>${{ order.get_total_order }}</span></li>
                                    </ul>
                                </div>
                            </div>
                            </ul> 
                        </div>
                    </div>
                </div>
                <div class="back-continue-wrap button">
                    <a href="{% url 'core:cart' %}"> Regresar</a>
                    <!-- <a href="#" onclick="sendForm()">Continuar</a> -->
                    <button type="submit" class=" ">Continuar</button>

                </div>
            </div>
        </div>
        <input type="hidden" name="price" value="${{ order.get_total }}">
</form>
        {% endblock %}

        {% block extra_js %}
        <script>
            
            $('#id_directionforms1').prop('required', true)
            $('#id_CodeLocation1').prop('required', true)
            $('#id_Province1').prop('required', true)
            $('#id_district1').prop('required', true)
            
            $('input:checkbox[name=same_shipping_address]').on('change', function(){
                if($(this).is(':checked')){
                    $('#shipping_address').addClass('d-none')
                    $('#id_directionforms1').prop('required', false)
                    $('#id_CodeLocation1').prop('required', false)
                    $('#id_Province1').prop('required', false)
                    $('#id_district1').prop('required', false)
                }else{
                    $('#shipping_address').removeClass('d-none')
                    $('#id_directionforms1').prop('required', true)
                    $('#id_CodeLocation1').prop('required', true)
                    $('#id_Province1').prop('required', true)
                    $('#id_district1').prop('required', true)
                }
            })
        </script>
        {% endblock %}