{% extends 'base/base.html' %}
{% block title %}Mi Cuenta{% endblock %}
{% load static %}

{% block content %}
        <div class="breadcrumb-area breadcrumb-mt ">
            <div class="container">
                <div class="breadcrumb-content">
                    <h2>Mi Cuenta</h2> 
                </div>
            </div>
        </div>
        <!-- my account wrapper start -->
        <div class="my-account-wrapper bg-gray pt-25 pb-25">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- My Account Page Start -->
                        <div class="myaccount-page-wrapper">
                            <!-- My Account Tab Menu Start -->
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <div class="myaccount-tab-menu nav" role="tablist">
                                        <a href="#dashboad" class="active" data-toggle="tab">Escritorio</a>
                                        <a href="#orders" data-toggle="tab">Historial de Órdenes</a> 
                                        <a href="#payment-method" data-toggle="tab"> Métodos de Pago</a>
                                        <a href="#address-edit" data-toggle="tab">Dirección</a>
                                        <a href="#account-info" data-toggle="tab">Detalles de la Cuenta</a>
                                        {% if user.is_authenticated %} 
                                        <a class="" href="{% url 'account_logout' %}" >Salir </a> 
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- My Account Tab Menu End -->
                                <!-- My Account Tab Content Start -->
                                <div class="col-lg-9 col-md-8">
                                    <div class="tab-content" id="myaccountContent">
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Panel de control</h3>
                                                <div class="welcome">
                                                    <p>Hola, <strong>{{ request.user.first_name }} {{ request.user.first_name }}{{ request.user.last_name }}</strong> (Si no eres <strong>{{ request.user.username }} !</strong><a href="{% url 'account_logout' %}" class="logout"> Salir</a>)</p>
                                                </div>

                                                <p class="mb-0">Desde el panel de tu cuenta. puede verificar y ver fácilmente sus pedidos recientes, administrar sus direcciones de envío, facturación, editar su contraseña y los detalles de su cuenta.</p>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="orders" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Ordenes</h3>
                                                <div class="myaccount-table table-responsive text-center">
                                                    <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                            <tr style="font-weight: bold;">
                                                                <th style="font-weight: bold;">Orden</th>
                                                                <th style="font-weight: bold;">Fecha</th>
                                                                <th style="font-weight: bold;">Estado</th>
                                                                <th style="font-weight: bold;">Total</th>
                                                                <th style="font-weight: bold;">Carrito</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for order in orders %}
                                                            <tr>
                                                                <td style="font-weight: bold;">{{ order.pk }}</td>
                                                                <td style="font-weight: bold;">{{ order.ordered_date|date:"d/m/Y"  }}</td>
                                                                <td style="font-weight: bold;">{% if order.ordered %}Pagado{% endif %}</td>
                                                                <td style="font-weight: bold;">{{ order.totalOrden }}</td>
                                                                <td style="font-weight: bold;"><a href="" class="check-btn sqr-btn ">{{ order. }}</a></td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Tab Content End --> 
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="payment-method" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Métodos de Pago</h3>
                                                <p class="saved-message">Aún no puedes guardar tu método de pago.</p>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="address-edit" role="tabpanel"style=" width: 100%;">
                                            <div class="asd" style="display: flex; width: 100%;">
                                            <div class="myaccount-content" style=" width: 100%;">
                                                <h3>Dirección de Envío</h3>
                                                <address>
                                                    <p><strong>Dirección: {{ shipping_address.direction }}</strong></p>
                                                    <p>Código Postal:  {{ shipping_address.CodeLocation }}<br>
                                                        Provincia: {{ shipping_address.Province }}</p>
                                                    <p>Distrito:  {{ shipping_address.district }}</p>
                                                </address>
                                                <!-- <a href="#" class="check-btn sqr-btn "><i class="fa fa-edit"></i> Edit Address</a> -->
                                            </div>
                                            <div class="myaccount-content" style=" width: 100%;">
                                                <h3>Dirección de Facturación</h3>
                                                <address>
                                                    <p><strong>Dirección: {{ billing_address.direction }}</strong></p>
                                                    <p>Código Postal:  {{ billing_address.CodeLocation }}<br>
                                                        Provincia: {{ billing_address.Province }}</p>
                                                    <p>Distrito:  {{ billing_address.district }}</p>
                                                </address>
                                                <!-- <a href="#" class="check-btn sqr-btn "><i class="fa fa-edit"></i> Edit Address</a> -->
                                            </div>
                                        </div>
                                        </div>
                                        
                                        <!-- Single Tab Content End -->
                                        <!-- Single Tab Content Start -->
                                        <div class="tab-pane fade" id="account-info" role="tabpanel">
                                            <div class="myaccount-content">
                                                <h3>Detalles de la Cuenta</h3>
                                                <div class="account-details-form">
                                                    <form action="#">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="first-name" class="required">Nombre</label>
                                                                    <input type="text" id="first-name"  value="{{ user.first_name }}"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <div class="single-input-item">
                                                                    <label for="last-name" class="required">Apellido</label>
                                                                    <input type="text" id="last-name"  value="{{ user.last_name }}"/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="single-input-item">
                                                            <label for="display-name" class="required">Usuario</label>
                                                            <input type="text" id="display-name" readonly value="{{ user.username }}" readonly/>
                                                        </div>
                                                        <fieldset
                                                            <legend>Correo Electrónico</legend>
                                                            <div class="single-input-item">
                                                                <label for="email" class="required">E-mail</label>
                                                                <input type="email" id="email" value="{{ request.user.email }}" readonly/>
                                                            </div>
                                                        </fieldset>
                                                        <fieldset>
                                                            <legend>Cambiar Contraseña</legend>
                                                            <div class="single-input-item">
                                                                <label for="current-pwd" class="required">contraseña actual</label>
                                                                <input type="password" id="current-pwd" />
                                                            </div>
                                                            <div class="row">
                                                                <div class="col-lg-6">
                                                                    <div class="single-input-item">
                                                                        <label for="new-pwd" class="required">Nueva Contraseña</label>
                                                                        <input type="password" id="new-pwd" />
                                                                    </div>
                                                                </div>
                                                                <div class="col-lg-6">
                                                                    <div class="single-input-item">
                                                                        <label for="confirm-pwd" class="required">Confirmar Contraseña</label>
                                                                        <input type="password" id="confirm-pwd" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </fieldset>
                                                        <div class="single-input-item">
                                                            <button class="check-btn sqr-btn ">Cambiar Contraseña</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> <!-- Single Tab Content End -->
                                    </div>
                                </div> <!-- My Account Tab Content End -->
                            </div>
                        </div> <!-- My Account Page End -->
                    </div>
                </div>
            </div>
        </div>
    

        {% endblock %}

        {% block extra_qs %}
        
        {% endblock %}