{% extends 'base/base.html' %}
{% block title %}Productos{% endblock %}
{% load static %}
{% load embed_video_tags %}
{% block content %}
<div class="breadcrumb-area bg-gray subheader-img area-height" style="background-color: white;">
    <div class="container">
        <div class="breadcrumb-content text-center subheader-contain">
                <h2>Tienda </h2>
                <p>Bienvenido a nuestra Tienda, en cositas favoritas encontrarás una gran diversidad de juguetes interactivos para niños de todas las edades. </p>
            </div>
        </div>
        <!-- <div class="breadcrumb-img-1 mt-10">
            <img src="{% static 'assets/img/juguete.jpg' %}" alt="">
        </div>
        <div class="breadcrumb-img-2">
            <img src="{% static 'assets/img/juguetes.jpeg' %}" alt="">
        </div> -->
    </div>

    <div class="product-details-area pt-50 pb-70">
        <div class="container"> 
            <div class="row">
                <div class="col-xl-7 col-lg-7 col-md-12">
                    <div class="product-details-tab">
                        <div class="product-dec-left">
                            <div class="pro-dec-big-img-slider-2 product-big-img-style">
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{ item.image.url }}">
                                            <img src="{{ item.image.url }}" alt="" >
                                        </a>
                                    </div>
                                </div>
                                {% if item.image_1 %}
                                    <div class="easyzoom-style">
                                        <div class="easyzoom easyzoom--overlay">
                                            <a href="{{ item.image_1.url }}">
                                                <img src="{{ item.image_1.url }}" alt="">
                                            </a>
                                        </div>
                                    </div>
                                {% endif %}
                                {% if item.image_2 %}
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{ item.image_2.url }}">
                                            <img src="{{ item.image_2.url }}" alt="">
                                        </a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if item.image_3 %}
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{ item.image_3.url }}">
                                            <img src="{{ item.image_3.url }}" alt="">
                                        </a>
                                    </div>
                                </div> 
                                {% endif %}
                                {% if item.image_4 %}
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                        <a href="{{ item.image_4.url }}">
                                            <img src="{{ item.image_4.url }}" alt="">
                                        </a>
                                    </div>
                                </div> 
                                {% endif %}
                                {% if item.video_item %}
                                <div class="easyzoom-style">
                                    <div class="easyzoom easyzoom--overlay">
                                            {% video item.video_item as my_video %}
                                            {% video my_video 'small' %}
                                            {% endvideo %}
                                    </div>
                                </div> 
                                {% endif %}
                            </div>
                        </div>
                        <div class="product-dec-right" style="height: 0px !important;">
                            <div class="product-dec-slider-2 product-small-img-style">
                                <div class="product-dec-small active">
                                    <img src="{{ item.image.url }}" alt="" style="width: 100px; height: 75px;">
                                </div>
                                {% if item.image_1 %}
                                <div class="product-dec-small">
                                    <img src="{{ item.image_1.url }}" alt="" style="width: 100px; height: 75px;" alt="">
                                </div>
                                {% endif %}
                                {% if item.image_2 %}
                                <div class="product-dec-small">
                                    <img src="{{ item.image_2.url }}" alt="" style="width: 100px; height: 75px;" alt="">
                                </div>
                                {% endif %}
                                {% if item.image_3 %}
                                <div class="product-dec-small">
                                    <img src="{{ item.image_3.url }}" alt="" style="width: 100px; height: 75px;" alt="">
                                </div> 
                                {% endif %}
                                {% if item.image_4%}
                                <div class="product-dec-small">
                                    <img src="{{ item.image_4.url }}" alt="" style="width: 100px; height: 75px;" alt="">
                                </div> 
                                {% endif %}
                                {% if item.video_item %}
                                <div class="product-dec-small">
                                    {% video item.video_item as my_video %}
                                    <img src="{{ my_video.thumbnail }}" alt="" style="width: 100px; height: 75px;" alt="">
                                        <!-- URL: {{ my_video.url }} -->
                                        <!-- Backend: {{ my_video.backend }} -->
                                        <!-- {% video my_video 'small' %} -->
                                    {% endvideo %}
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 responsive-text">
                    <div class="product-details-content ml-50 "> 
                        <div class="product-details-content" >
                            <h2>{{ item.description }}</h2> {% video my_video '800x600' %}
                        </div>
                        <p class="pro-dec-paragraph-2" style="font-weight: bold; color: black; margin-bottom: 25px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque repellat libero </p>
                    </div>
                    <div class="product-details-content product-details-content-6">
                        <div class="pro-details-price pro-details-price-4">
                             <span > ${{ item.sale_price }}</span>
                            <!-- <span class="old-price">$ XXX</span> -->
                        </div>
                        <!-- <div class="pro-details-color-wrap">
                            <span>Color:</span>
                            <div class="pro-details-color-content">
                                <ul>
                                    <li><a class="white" href="#">Negro</a></li>
                                    <li><a class="azalea" href="#">Azul</a></li>
                                    <li><a class="dolly" href="#">Verde</a></li>
                                    <li><a class="peach-orange" href="#">Naranja</a></li>
                                    <li><a class="mona-lisa active" href="#">Rosado</a></li>
                                    <li><a class="cupid" href="#">Gris</a></li>
                                </ul>
                            </div>
                        </div> -->
                        <!-- <div class="pro-details-size">
                            <span>Size:</span>
                            <div class="pro-details-size-content">
                                <ul>
                                    <li><a href="#">XS</a></li>
                                    <li><a href="#">S</a></li>
                                    <li><a href="#">M</a></li>
                                    <li><a href="#">L</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">XXL</a></li>
                                </ul>
                            </div>
                        </div> -->
                        
                        <form action="/addto/" method="post" id="detailform">
                            {% if item.get_type_display %} 
                            <div class="pro-details-size">
                                <span style="color: black;
                                font-weight: bold; font-size: 14px">Tipo:</span>
                                <div class="pro-details-size-content">
                                    <ul>
                                        <li><a href="#" style="width:60px; pointer-events: none; color: black;
                                            font-weight: bold; font-size: 14px">{{ item.get_type_display }}</a></li>
                                    </ul>
                                </div>
                            </div> 
                            {% endif %}
                            
                            {% if item.get_size_display %} 
                            <div class="pro-details-size">
                                <span style="color: black;
                                font-weight: bold; font-size: 14px">Tamaño:</span>
                                <div class="pro-details-size-content">
                                    <ul>
                                        <li><a href="#" style="width:60px;pointer-events: none; color: black;
                                            font-weight: bold; font-size: 14px;">{{ item.get_size_display }}</a></li>
                                    </ul>
                                </div>
                            </div>
                            {% endif %}

                            {% if item.colors.all %} 
                            <div class="pro-details-color-content">
                                <span>Color:</span>
                                <select id="color_selected" name="color_selected">
                                    {% for color in item.colors.all %}
                                    <option value="{{ color.color_name }}">{{ color.color_name }}</option> 
                                    {% endfor %}
                                </select>
                            </div> 
                            {% endif %}
                            {% if item.cant.all %}
                            <div class="pro-details-color-content">
                                <span>Cantidad de piezas:</span>
                                <select id="cant_selected" name="cant_selected">
                                    {% for cant in item.cant.all %}
                                    <option value="{{ cant.piezas }}">{{ cant.piezas }}</option> 
                                    {% endfor %}
                                </select>
                            </div> 
                            {% endif %}
                        <div class="pro-details-quality"> 
                            <span style="font-weight: bold; color: black;">Cantidad</span>
                            <div class="cart-plus-minus">
                                <input class="cart-plus-minus-box" type="number" name="quantity" value="1" style="font-weight: bold; color: black;" id="quantity">
                            </div> 
                            <span style="font-weight: bold; color: black;">Disponible: {{ item.stock }}</span>
                        </div>
                        <div class="product-details-meta">
                            <ul>
                                <li><span style="font-weight: bold; color: black;">SKU:</span> <a href="#" style="font-weight: bold; color: black;">{{ item.sku_code }}</a></li>
                                <!-- <li><span>Ship To</span> <a href="#">2834 Laurel Lane</a>, <a href="#">Mentone</a> , <a href="#">Texas</a></li> -->
                            </ul>
                        </div>
                        <div class="pro-details-action-wrap">
                            <div class="pro-details-buy-now">
                                <a href="#" id="submitdetailform">Añadir al carrito</a>
                                    {% csrf_token %}
                                    <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                                </div>
                            </div> 
                        </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="description-review-wrapper pb-155" >
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="dec-review-topbar nav mb-65">
                        <a class="active" data-toggle="tab" href="#des-details1" style="font-weight: bold; color: black;">Descripción</a>
                        <a data-toggle="tab" href="#des-details2" style="font-weight: bold; color: black;">Especificaciones</a>
                        <!-- <a data-toggle="tab" href="#des-details3" style="font-weight: bold; color: black;">Material </a> -->
                        <!-- <a data-toggle="tab" href="#des-details4" style="font-weight: bold; color: black;">Reseñas y calificaciones</a> -->
                    </div>
                    <div class="tab-content dec-review-bottom">
                        <div id="des-details1" class="tab-pane active">
                            <div class="description-wrap">
                                <!-- <p style="font-weight: bold; color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo laborum quibusdam libero, necessitatibus voluptates voluptatibus fugiat,
                                    pariatur nihil quisquam, rem saepe optio mollitia? Ut hic corporis expedita repellendus esse cumque!</p>
                                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit impedit laudantium molestiae autem,
                                    perspiciatis velit voluptatibus magni perferendis mollitia deserunt enim dicta sed, modi voluptatum fugit molestias eum libero veritatis?</p> -->
                                    {{ item.description_text|safe }}
                            </div>
                        </div>
                        <div id="des-details2" class="tab-pane">
                            <div class="specification-wrap table-responsive">
                                <table>
                                    <tbody style="font-weight: bold; color: black;">
                                        <tr>
                                            <td class="width1">Nombre</td>
                                            <td>{{ item.description }}</td>
                                        </tr>
                                        <tr>
                                            <td>SKU</td>
                                            <td>{{ item.sku_code}}</td>
                                        </tr>
                                        <!-- <tr>4 -->
                                        <tr>
                                            <td class="width1">Categoria</td>
                                            <td>{{ item.category }}</td>
                                        </tr>
                                        <tr>
                                            <td class="width1">Precio</td>
                                            <td>${{ item.sale_price }}</td>
                                        </tr>
                                        <tr>
                                            <td class="width1">Precio de descuento</td>
                                            <td>{% if item.discount_price %} ${{ item.discount_price }} {% else %} N/A {% endif %}</td>
                                        </tr>
                                        <!-- <tr>
                                            <td class="width1">Talla</td>
                                            <td>XXXXX</td>
                                        </tr> -->
                                        <!-- <tr>
                                            <td class="width1">Marca </td>
                                            <td>XXXXX</td>
                                        </tr> -->
                                        <!-- <tr>
                                            <td class="width1">Color</td>
                                            <td>XXXXXXX</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- <div id="des-details3" class="tab-pane">
                            <div class="specification-wrap table-responsive">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="width1" style="font-weight: bold; color: black;">XXXXX</td>
                                            <td style="font-weight: bold; color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus cumque quisquam doloremque sequi exercitationem repudiandae quibusdam,
                                                iusto magnam, obcaecati totam doloribus omnis minima cupiditate accusantium est accusamus libero ipsum aliquid.</td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight: bold; color: black;">Abajo</td>
                                            <td style="font-weight: bold; color: black;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente eaque, ad consequuntur reprehenderit cupiditate
                                                repudiandae quam ducimus temporibus quo dolorum, voluptate facere eveniet quasi facilis. At expedita nemo distinctio velit.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                        
                            <div id="des-details4" class="tab-pane">
                            <div class="review-wrapper">
                                <h2>1 review for Sleeve Button Cowl Neck</h2>
                                <div class="single-review">
                                    <div class="review-img">
                                        <img src="{% static 'assets/images/product-details/client-1.png' %}" alt="">
                                    </div>
                                    <div class="review-content">
                                        <div class="review-top-wrap">
                                            <div class="review-name">
                                                <h5 style="font-weight: bold; color: black;"><span style="font-weight: bold; color: black;">John Snow</span> Mayo 2022</h5>
                                            </div>
                                            <div class="review-rating">
                                                <i class="yellow icon-rating"></i>
                                                <i class="yellow icon-rating"></i>
                                                <i class="yellow icon-rating"></i>
                                                <i class="yellow icon-rating"></i>
                                                <i class="yellow icon-rating"></i>
                                            </div>
                                        </div>
                                        <p style="font-weight: bold; color: black;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque magnam, quod quibusdam rem quam officiis pariatu
                                            r sapiente nulla necessitatibus laborum laudantium quia in quaerat facere eveniet aperiam ipsum. Tenetur, sed.</p>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 
<div class="product-area pb-155">
    <div class="container">
        <div class="section-title-8 mb-65">
            <h2>También te puede gustar</h2>
        </div>


        <div class="product-slider-active-4">
            {% for item in items %}
            <div class="product-wrap-plr-1">
              <div class="product-wrap">
                <div class="product-img product-img-zoom mb-25">
                  <a href="{{ item.get_absolute_url }}">
                    <img src="{{ item.image.url }}" alt="" />
                  </a>
                </div>
                <div class="product-content">
                  <h4><a href="">{{ item.description }}</a></h4>
                  <div class="product-price">
                    <span>$ {{ item.sale_price }}</span>
                    <!-- <span class="old-price">$ XXXX</span> -->
                  </div>
                </div>
                <div class="product-action-position-1 text-center">
                  <!-- <div class="product-content">
                    <h4><a href="">{{ item.description }}</a></h4>
                    <div class="product-price">
                      <span>$ {{ item.sale_price }}</span>
                    </div>
                  </div> -->
                  <form action="/addto/" method="post">
                    {% csrf_token %}
                  <div class="product-action-wrap">
                      <div class="product-action-cart">
                          <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                          <button title="Añadir al Carrito" type="submit">Añadir al Carrito</button>
                      </div>
                      <button type="button" onclick="modalproduct('{{ item.sku_code }}','{{ item.description }}','{{ item.stock }}','{{ item.sale_price }}', '{{item.image.url}}', '{{item.slug}}')"><i class="icon-zoom"></i></button>
                      <!-- <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button> -->
                  </div>
                </form>
                </div>
              </div>
            </div> 
            
            {% endfor %}
        </div>
    </div>
</div> 

{% endblock %}

{% block extra_js %}
<script>
    var quantity = parseInt('{{ item.stock }}')
    console.log(quantity)
    $('#quantity').on('keyup', function(){
        if($(this).val() > quantity){
            $(this).val(quantity)
        }
    })
    $('.dec').on('click', function(){
        if($('#quantity').val() - 1 < 1){
            $('#quantity').val(1)
        }
    })
    $('.inc').on('click', function(){
        if($('#quantity').val() > quantity){
            $('#quantity').val(1)
        }
    })
</script>
{% endblock %}