{% extends 'base/base.html' %}
{% block title %}FAQ{% endblock %}
{% load static %}

{% block content %}
<br><br>

<div class="breadcrumb-area bg-gray mt-150" style="background-color: white;">
  <div class="container">
      <div class="breadcrumb-content text-center">
          <h2>FAQ </h2>
          <p>Lorem ipsum dolor sit amet conse </p>
      </div>
  </div>
  <div class="breadcrumb-img-1">
      <img src="{% static 'assets/img/juguete.jpg' %}" alt="">
  </div>
  <div class="breadcrumb-img-2">
      <img src="{% static 'assets/img/juguetes.jpeg' %}" alt="">
  </div>
</div>



<div class="container mt-100">

    <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                ¿Cómo puedo agregar una nueva pregunta?
                <i class="icofont-arrow-down"></i>

              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
              Para agregar una pregunta nueva, dirígete a la configuración de la aplicación y pulsa el botón "Administrar".
            </div> 
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Puedo agregar imágenes en mi sección de Preguntas Frecuentes?
                    <i class="icofont-arrow-down"></i>
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                ¡Sí! Para agregar una imagen, sigue estos sencillos pasos:
                <ol>
                    <li>Ingresar a la configuración de la app.</li>
                    <li>Haz clic en el botón "Administrar".</li>
                    <li>Haz clic en la pregunta a la que deseas adjuntar un video</li>
                    <li>Mientras editas tu pregunta, haz clic en el ícono de la misma y luego agrega una imagen de tu librería.</li> 

                  </ol>   
            </div> 
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                ¿Puedo agregar un video en mi sección de Preguntas Frecuentes?
                <i class="icofont-arrow-down"></i>

              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
            <div class="card-body">
                ¡Sí! Los usuarios pueden agregar videos de YouTube o Vimeo fácilmente:
                <ol>
                    <li>Configuraciones de la App.</li>
                    <li>Haz clic en el botón "Administrar".</li>
                    <li>Haz clic en la pregunta a la que deseas adjuntar un video</li>
                    <li>Cuando edites tu respuesta, haz clic en el icono de vídeo y luego pega la URL de vídeo de YouTube o Vimeo.</li>
                    <li>¡Eso es! Una miniatura de tu video aparecerá en la casilla del texto de la respuesta.        </li>

                  </ol> 
              </div> 
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    ¿Cómo edito o elimino el "Título de Preguntas Frecuentes"?"
                    <i class="icofont-arrow-down"></i>

                </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                El título de Preguntas Frecuentes se puede ajustar en la pestaña de la Configuración de la Aplicación. También puedes eliminar el título al desmarcar la casilla en la pestaña de Configuración.
                   </div> 
            </div>
          </div>
      </div>

</div>
<div class="product-area pb-10" style="margin-top: 50px">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-4 col-md-4" >
        <div class="product-wrap mb-30" >
          <div class="product-img product-img-zoom mb-25" style="border : solid #ed4aca;
          border-width : .5rem .5rem .5rem .5em;">
            <a href="{% url 'core:store_filter' category='B' %}">
              <img src="{% static 'assets/img/b.jpg' %}" alt="" />
            </a>
          </div>
          <div class="bottom-product" > 
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <div class="product-icon">

                  <i class="icofont-cart"></i>
                  <br>
                  <button title="Agregar al carrito" onclick="window.location='{% url 'core:store_filter' category='B' %}'">Bebés</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="product-action-position-1 text-center">
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al carrito" onclick="window.location='{% url 'core:store_filter' category='B' %}'">Bebés</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-4"  >
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25" style="border : solid #ed4aca;
          border-width : .5rem .5rem .5rem .5em;">
            <a href="{% url 'core:store_filter' category='A' %}">
              <img src="{% static 'assets/img/aa.jpeg' %}" alt="" />
            </a>
          </div>
          <div class="bottom-product "> 
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <div class="product-icon" >

                  <i class="icofont-cart" style="position: relative; left: 30px;"></i>
                  <br>
                <button title="Agregar al carrito"  onclick="window.location='{% url 'core:store_filter' category='A' %}'">Niños 1 a 3 Años </button>
              </div>
            </div>
            </div>
          </div>
          <!-- <div class="product-action-position-1 text-center">
          </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-4" >
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25" style="border : solid #ed4aca;
          border-width : .5rem .5rem .5rem .5em;">
            <a href="{% url 'core:store_filter' category='C' %}">
              <img src="{% static 'assets/img/a.jpeg' %}" alt="" />
            </a>
          </div>
          <div class="bottom-product"> 
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <div class="product-icon" >

                  <i class="icofont-cart" style="position: relative; left: 40px;"></i>
                  <br>
                <button title="Agregar al carrito"  onclick="window.location='{% url 'core:store_filter' category='C' %}'">3 Años en Adelante </button> 
              </div>
            </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}