{% extends 'base/base.html' %}
{% block title %}Inicio{% endblock %}
{% load static %}

{% block content %}
<div class="slider-area  ">
  <div class="slider-active-1 nav-style-1 dot-style-1">
    <div
      class="single-slider slider-height-11 gradient-bg-6 custom-d-flex custom-align-item-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6 col-12 col-sm-6">
            <div class="slider-content-8 slider-animated-1" >
              <!-- <h1 class="animated" style="display: flex; justify-content:center; position:relative; left:300px;">Rebajas</h1>
                        <p style="display: flex; justify-content:center; position:relative; left:300px;" class="animated">
                          Descuentos de hasta 30% en accesorios
                        </p> -->
              <div class="btn-style-3 btn-hover btn-style_3" >
                <a class="btn3-ptb-3 btn3-bg-brow animated" href="{% url 'core:store' %}"  >Comprar Ahora <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-12 col-sm-6">
            <!-- <div class="slider-single-img-7 slider-animated-1">
                    <a href="#"
                      ><img
                        class="animated"
                        src="assets/images/slider/pet-food-slider-2.png"
                        alt=""
                    /></a>
                  </div> -->
          </div>
        </div>
      </div>
      <div class="pet-food-bg-img">
        <img class="animated" src="{% static 'assets/img/banner.jpeg' %}" alt=""/>
      </div>
    </div>
    <div
      class="single-slider slider-height-11 gradient-bg-6 custom-d-flex custom-align-item-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6 col-12 col-sm-6">
            <div class="slider-content-8 slider-animated-1">
              <!-- <h1 class="animated">Rebajas</h1>
                    <p class="animated">
                      Descuentos de hasta 30% en accesorios
                    </p> -->
              <div class="btn-style-3 btn-hover">
                <a
                  class="btn3-ptb-3 btn3-bg-brow animated"
                  href="{% url 'core:store' %}"
                  >Comprar Ahora<i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-12 col-sm-6">
            <!-- <div class="slider-single-img-7 slider-animated-1">
                    <a href="#"
                      ><img
                        class="animated"
                        src="assets/images/slider/pet-food-slider-2.png"
                        alt=""
                    /></a>
                  </div> -->
          </div>
        </div>
      </div>
      <div class="pet-food-bg-img">
        <img class="animated" src="{% static 'assets/img/baner.jpg' %}" alt=""  />
      </div>
    </div>
  </div>
</div>


  <!-- <div class="center">
    <button style="text-align:center;" onclick="toastFunction()" id="btn-toast">Show Toast</button>
  </div> -->
  
  {% if messages %}
    {% for message in messages %}
    <div id="toast">
      <div class="checkicon "> <i class="fas fa-check-square"></i> </div>
    <p class="alert alert-{{ message.tags }}"> {{ message }}</p></div>
    {% endfor %}
  {% endif %}

</div>
<div class="product-area pb-10" style="margin-top: 50px">
  <div class="container"> 
    <div class="row">
      <div class="col-lg-4 col-md-4" >
        <div class="product-wrap mb-30" >
          <div class="product-img product-img-zoom mb-25" style="border : solid #ed4aca;
          border-width : .5rem .5rem .5rem .5em;">
            <a href="{% url 'core:store_filter' category='B' %}">
              <img src="{% static 'assets/img/b.jpg' %}" alt="" />
            </a>
          </div>
          <div class="bottom-product" > 
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <div class="product-icon">

                  <i class="icofont-cart"></i>
                  <br>
                  <button title="Agregar al carrito" onclick="window.location='{% url 'core:store_filter' category='B' %}'">Bebés</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="product-action-position-1 text-center">
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al carrito" onclick="window.location='{% url 'core:store_filter' category='B' %}'">Bebés</button>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-4"  >
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25" style="border : solid #ed4aca;
          border-width : .5rem .5rem .5rem .5em;">
            <a href="{% url 'core:store_filter' category='A' %}">
              <img src="{% static 'assets/img/aa.jpeg' %}" alt="" />
            </a>
          </div>
          <div class="bottom-product "> 
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <div class="product-icon" >

                  <i class="icofont-cart" style="position: relative; left: 32px;"></i>
                  <br>
                <button title="Agregar al carrito"  onclick="window.location='{% url 'core:store_filter' category='A' %}'">Niños 1 a 3 Años </button>
              </div>
            </div>
            </div>
          </div>
          <!-- <div class="product-action-position-1 text-center">
          </div> -->
        </div>
      </div>
      <div class="col-lg-4 col-md-4" >
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25" style="border : solid #ed4aca;
          border-width : .5rem .5rem .5rem .5em;">
            <a href="{% url 'core:store_filter' category='C' %}">
              <img src="{% static 'assets/img/a.jpeg' %}" alt="" />
            </a>
          </div>
          <div class="bottom-product"> 
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <div class="product-icon" >

                  <i class="icofont-cart" style="position: relative; left: 50px;"></i>
                  <br>
                <button title="Agregar al carrito"  onclick="window.location='{% url 'core:store_filter' category='C' %}'">3 Años en Adelante </button> 
              </div>
            </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
</div>
{% if items and items|length >= 3  %}

<div class="product-area pb-100">
  <div class="container">
    <div class="section-title-8 mt-0 middle-center">
      <h2>Productos destacados</h2>
    </div>
    <hr class="hr-1"> 
    <div class="row middle-end">
      <div class="col-md-4">
        <div
          class="banner-btn-4 banner-btn-4-modify banner-btn-4-right modify2-mt-65"
        >
          <a href="{% url 'core:store' %}">Ver todos los productos
            <img
              class="inject-me"
              src="{% static 'assets/images/icon-img/right-arrow-banner.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    
    <div class="product-slider-active-4">
      {% for item in items %}
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{{ item.get_absolute_url }}">
              <img src="{{ item.image.url }}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="">{{ item.description }}</a></h4>
            <div class="product-price">
              <span>$ {{ item.sale_price }}</span>
              <!-- <span class="old-price">$ XXXX</span> -->
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <!-- <div class="product-content">
              <h4><a href="">{{ item.description }}</a></h4>
              <div class="product-price">
                <span>$ {{ item.sale_price }}</span>
              </div>
            </div> -->
            <form action="/addto/" method="post">
              {% csrf_token %}
            <div class="product-action-wrap">
                <div class="product-action-cart">
                  <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                    <button title="Añadir al Carrito" type="submit">Añadir al Carrito</button>
                    <button type="button" onclick="modalproduct('{{ item.sku_code }}','{{ item.description }}','{{ item.stock }}','{{ item.sale_price }}', '{{item.image.url}}', '{{item.slug}}')"><i class="icon-zoom"></i></button>
                </div>
                <!-- <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button> -->
            </div>
          </form>
          </div>
        </div>
      </div> 
      
      {% endfor %}
    </div>
  </div>
</div>

<div class="responsive-table">
  <div class="product-area pb-100">
    <div class="container"> 
      <div class="product-slider-active-4">
        {% for item in items %}
        <div class="product-wrap-plr-1">
          <div class="product-wrap">
            <div class="product-img product-img-zoom mb-25">
              <a href="{{ item.get_absolute_url }}">
                <img src="{{ item.image.url }}" alt="" />
              </a>
            </div>
            <div class="product-content">
              <h4><a href="">{{ item.description }}</a></h4>
              <div class="product-price">
                <span>$ {{ item.sale_price }}</span>
                <!-- <span class="old-price">$ XXXX</span> -->
              </div>
            </div>
            <div class="product-action-position-1 text-center">
              <!-- <div class="product-content">
                <h4><a href="">{{ item.description }}</a></h4>
                <div class="product-price">
                  <span>$ {{ item.sale_price }}</span>
                  <span class="old-price">$ XXXX</span>
                </div>
              </div> -->
              <form action="/addto/" method="post">
                {% csrf_token %}
              <div class="product-action-wrap">
                  <div class="product-action-cart">
                      <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                      <input type="hidden" name="next" value="{{ request.path }}">
                      <button title="Añadir al Carrito" type="submit">Añadir al Carrito</button>
                  </div>
                  <button type="button" onclick="modalproduct('{{ item.sku_code }}','{{ item.description }}','{{ item.stock }}','{{ item.sale_price }}', '{{item.image.url}}', '{{item.slug}}')"><i class="icon-zoom"></i></button>
                  <!-- <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button> -->
              </div>
            </form>
            </div>
          </div>
        </div> 
        
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-12 col-sm-6">
            <div class="quickview-img">
              <img src="" alt="" id="image-product-modal" />
            </div>
          </div>
          <div class="col-lg-7 col-md-7 col-12 col-sm-6">
            <div class="product-details-content quickview-content">
              <h2 id="des"></h2>
              <div class="product-ratting-review-wrap">
                <div class="product-ratting-digit-wrap">
                  <div class="product-ratting">
                    <i class="icon-rating"></i>
                    <i class="icon-rating"></i>
                    <i class="icon-rating"></i>
                    <i class="icon-rating"></i>
                    <i class="icon-star-empty"></i>
                  </div>

                  <div class="product-digit">
                    <span id="inv"></span>
                  </div>
                </div>
                <!-- <div class="product-review-order">
                  <span>XX Vistas</span>
                  <span>XX ordenes</span>
                </div> -->
              </div>
              <p id="desp">
                
              </p>
              <div class="pro-details-price">
                <span id="precio"></span>
                <!-- <span class="old-price">$ XXXXX</span> -->
              </div>
              <!-- <div class="pro-details-color-wrap">
                <span>Color:</span>
                <div class="pro-details-color-content">
                  <ul>
                    <li><a class="white" href="#">Blanco</a></li>
                    <li><a class="azalea" href="#">Azul</a></li>
                    <li><a class="dolly" href="#">Verde</a></li>
                    <li><a class="peach-orange" href="#">Naranja</a></li>
                    <li>
                      <a class="mona-lisa active" href="#">Rosado</a>
                    </li>
                    <li><a class="cupid" href="#">Gris</a></li>
                  </ul>
                </div>
              </div>
              <div class="pro-details-size">
                <span>Talla:</span>
                <div class="pro-details-size-content">
                  <ul>
                    <li><a href="#">XS</a></li>
                    <li><a href="#">S</a></li>
                    <li><a href="#">M</a></li>
                    <li><a href="#">L</a></li>
                    <li><a href="#">XL</a></li>
                    <li><a href="#">XXL</a></li>
                  </ul>
                </div>
              </div> -->
              <div class="pro-details-quality">
                <span>Cantidad:</span>
                <div class="cart-plus-minus">
                  <input
                    class="cart-plus-minus-box"
                    type="text"
                    name="qtybutton"
                    value="1"
                  />
                </div>
              </div>
              <div class="product-details-meta">
                <ul>
                  <li><span>SKU:</span> <a href="#"><span id="sku_code"></span></a></li>
                </ul>
              </div>
              <div class="pro-details-action-wrap">
                <div class="pro-details-buy-now">
                  <a href="#" id="buynow">Comprar Ahora</a>
                  <form action="/addto/" method="post" id="form-modal">
                    {% csrf_token %}
                    <input type="hidden" name="slug" id="slug-modal" value="">
                  </form>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal end -->

<div class="offer-area">
  <div class="container">
    <div class="complete-banner_100">
      <div class="midle-baner_50">
        <img src="{% static 'assets/img/fondo.jpg' %}" alt="" />
      </div>
      <div class="midle-baner_color">
        <div class="baner-center">
          <div class="middle-center">
            <h3>-10% EN COMPRAS ONLINE</h3>
          </div>
        </div>
        <div class="middle-center">
          <div class="btn-style-3 btn-hover ">
            <a
              class="btn3-ptb-8 btn3-bg-brown animated"
              href=""
              >Compra Ahora <i class="icofont-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="pet-food-offer-content  " style="background-image: url(assets/img/fondo.jpg);  background-repeat:no-repeat; background-size:contain; width:100%; padding-top:500px;
            background-color:#FF66C4;">
            <h2>FLASh DEAL</h2>
            <h3>-10% EN COMPRAS ONLINE</h3>
            <p>
              -10% EN COMPRAS ONLINE
              </p>
            <div class="btn-style-3 btn-hover">
                <a class="btn3-ptb-8 btn3-bg-brown animated" href="">Compra Ahora <i class="icofont-long-arrow-right"></i></a>
            </div>
        </div> -->
  </div>
</div>

<div class="product-area pb-155">
  
{% if items and items|length >= 3  %}
<div class="product-area pb-100">
  <div class="container">
    <div class="section-title-8 mt-50 middle-center">
      <h2>Los más vistos</h2>
    </div>
    <hr class="hr-1"> 
    <div class="row middle-end">
      <div class="col-md-4">
        <div
          class="banner-btn-4 banner-btn-4-modify banner-btn-4-right modify2-mt-65"
        >
          <a href="{% url 'core:store' %}">Ver todos los productos
            <img
              class="inject-me"
              src="{% static 'assets/images/icon-img/right-arrow-banner.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    
    <div class="product-slider-active-4">
      {% for item in items %}
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{{ item.get_absolute_url }}">
              <img src="{{ item.image.url }}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="">{{ item.description }}</a></h4>
            <div class="product-price">
              <span>$ {{ item.sale_price }}</span>
              <!-- <span class="old-price">$ XXXX</span> -->
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <!-- <div class="product-content">
              <h4><a href="">{{ item.description }}</a></h4>
              <div class="product-price">
                <span>$ {{ item.sale_price }}</span>
              </div>
            </div> -->
            <form action="/addto/" method="post">
              {% csrf_token %}
            <div class="product-action-wrap">
                <div class="product-action-cart">
                  <input type="hidden" name="next" value="{{ request.path }}">
                    <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                    <button title="Añadir al Carrito" type="submit">Añadir al Carrito</button>
                    <button type="button" onclick="modalproduct('{{ item.sku_code }}','{{ item.description }}','{{ item.stock }}','{{ item.sale_price }}', '{{item.image.url}}', '{{item.slug}}')"><i class="icon-zoom"></i></button>
                </div>
                <!-- <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button> -->
            </div>
          </form>
          </div>
        </div>
      </div> 
      
      {% endfor %}
    </div>
  </div>
</div>

<div class="responsive-table">
  <div class="product-area pb-100">
    <div class="container"> 
      <div class="product-slider-active-4">
        {% for item in items %}
        <div class="product-wrap-plr-1">
          <div class="product-wrap">
            <div class="product-img product-img-zoom mb-25">
              <a href="{{ item.get_absolute_url }}">
                <img src="{{ item.image.url }}" alt="" />
              </a>
            </div>
            <div class="product-content">
              <h4><a href="">{{ item.description }}</a></h4>
              <div class="product-price">
                <span>$ {{ item.sale_price }}</span>
                <!-- <span class="old-price">$ XXXX</span> -->
              </div>
            </div>
            <div class="product-action-position-1 text-center">
              <!-- <div class="product-content">
                <h4><a href="">{{ item.description }}</a></h4>
                <div class="product-price">
                  <span>$ {{ item.sale_price }}</span>
                  <span class="old-price">$ XXXX</span>
                </div>
              </div> -->
              <form action="/addto/" method="post">
                {% csrf_token %}
              <div class="product-action-wrap">
                  <div class="product-action-cart">
                      <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                      <input type="hidden" name="next" value="{{ request.path }}">
                      <button title="Añadir al Carrito" type="submit">Añadir al Carrito</button>
                      <button type="button" onclick="modalproduct('{{ item.sku_code }}','{{ item.description }}','{{ item.stock }}','{{ item.sale_price }}', '{{item.image.url}}', '{{item.slug}}')"><i class="icon-zoom"></i></button>
                  </div>
                  <!-- <button data-toggle="modal" data-target="#exampleModal"><i class="icon-zoom"></i></button> -->
              </div>
            </form>
            </div>
          </div>
        </div> 
        
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
</div>



<div class="card-deck mb-50 pl-50 w-100" >

  <div class="card">
    <div class="image" style="display: flex; justify-content: center">
      <i class="icofont-ui-file" style="margin-top:10px ;font-size: 60px; color: #F45152;"></i>
 
    </div>
    <div class="card-body">
      <div class="image" style="display: flex; justify-content: center">
        <h5 class="card-title">Registrate</h5>
      </div>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
        voluptatum suscipit, repellendus doloribus corrupti provident excepturi
        laborum tempore maxime dolorum, labore quibusdam nulla sapiente ex
        assumenda illo sed et. Ipsa?
      </p>
    </div>
  </div>

  <div class="card " style="padding-top: 10px;">
    <div class="image" style="display: flex; justify-content: center">
      <i class="icofont-cart"  style="font-size: 60px; color: #F45152;"></i>
    </div>
    <div class="card-body">
      <div class="image " style="display: flex; justify-content: center;   color: black;
      font-weight: 900;  ">
        <h5 class="card-title"><strong>Selecciona tus productos</strong></h5>
      </div>
      <p class="card-text" >
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        fugiat, ut corpori s similique deleniti laboriosam harum. Optio porro
        similique sint est fugiat, maxime eius culpa? Culpa repellat inventore
        accusamus incidunt!
      </p>
    </div>
  </div>

  <div class="card" >
    <div class="image" style="display: flex; justify-content: center">
      <i class="icofont-laptop"  style="font-size: 60px; color: #F45152;"></i>
    </div>
    <div class="card-body">
      <div class="image" style="display: flex; justify-content: center">
        <h5 class="card-title">Pagar</h5>
      </div>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. D icta
        reprehenderit nulla ea! Odio nostrum itaque laboriosam quaerat expedita
        maiores suscipit provident repellat ipsum consequuntur, vero, ab minima
        repudiandae fugiat debitis.
      </p>
    </div>
  </div>
</div>

<div class="contain-form" >
  <div class="contain-center" > 
    <div class="section-title-8 mt-20  middle-center" >
      <h2 style="font-size: 25px !important; ">PARA PEDIDOS Y ENCARGOS ESPECIALES </h2>
    </div>
    <hr class="hr-1">
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Nombre *</label>
        <input type="text" placeholder="" />
      </div>
      <div class="contain-input">
        <label for="">Apellido *</label>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">E-mail *</label>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Teléfono *</label>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Mensaje *</label>
        <input type="text" placeholder="" style="height: 100px" />
      </div>
    </div>
    <div class="contain-button">
      <div class="contain_button">
        <button>Enviar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block extra_js %}
  {% if messages %}
  <script>
    toastFunction();
  </script>
  {% endif %}
{% endblock %}