{% extends 'base/base.html' %}
{% block title %}{% endblock %}
{% load static %}

{% block content %}
<div class="slider-area slider-mt-4">
  <div class="slider-active-1 nav-style-1 dot-style-1">
    <div
      class="single-slider slider-height-11 gradient-bg-6 custom-d-flex custom-align-item-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6 col-12 col-sm-6">
            <div class="slider-content-8 slider-animated-1">
              <!-- <h1 class="animated">Rebajas</h1>
                        <p class="animated">
                          Descuentos de hasta 30% en accesorios
                        </p> -->
              <div class="btn-style-3 btn-hover">
                <a
                  class="btn3-ptb-3 btn3-bg-brown animated"
                  href="{% url 'core:detailView' %}"
                  >Comprar Ahora <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-12 col-sm-6">
            <!-- <div class="slider-single-img-7 slider-animated-1">
                    <a href="#"
                      ><img
                        class="animated"
                        src="assets/images/slider/pet-food-slider-2.png"
                        alt=""
                    /></a>
                  </div> -->
          </div>
        </div>
      </div>
      <div class="pet-food-bg-img">
        <img
          class="animated"
          src="{% static 'assets/img/bannerprincipal.png' %}"
          alt=""
        />
      </div>
    </div>
    <div
      class="single-slider slider-height-11 gradient-bg-6 custom-d-flex custom-align-item-center"
    >
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-7 col-md-6 col-12 col-sm-6">
            <div class="slider-content-8 slider-animated-1">
              <!-- <h1 class="animated">Rebajas</h1>
                    <p class="animated">
                      Descuentos de hasta 30% en accesorios
                    </p> -->
              <div class="btn-style-3 btn-hover">
                <a
                  class="btn3-ptb-3 btn3-bg-brown animated"
                  href="{% url 'core:detailView' %}"
                  >Comprar Ahora <i class="icofont-long-arrow-right"></i
                ></a>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 col-12 col-sm-6">
            <!-- <div class="slider-single-img-7 slider-animated-1">
                    <a href="#"
                      ><img
                        class="animated"
                        src="assets/images/slider/pet-food-slider-2.png"
                        alt=""
                    /></a>
                  </div> -->
          </div>
        </div>
      </div>
      <div class="pet-food-bg-img">
        <img class="animated" src="{% static 'assets/img/bannerprincipal.png' %}" alt="" />
      </div>
    </div>
  </div>
</div>

<div class="product-area pb-10" style="margin-top: 50px">
  <div class="container">
    <!-- <div class="row middle-end"> 
                    <div class="col-lg-4 col-md-4">
                        <div class="banner-btn-4 banner-btn-4-modify banner-btn-4-right modify2-mt-65">
                            <a href="{% url 'core:detailView' %}">Ver todos los productos <img class="inject-me" src="assets/images/icon-img/right-arrow-banner.svg" alt=""></a>
                        </div>
                    </div>
                </div> -->
    <div class="row">
      <div class="col-lg-4 col-md-4">
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/niño.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al carrito">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/niña.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al carrito">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="product-wrap mb-30">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/nin.png' %}" alt="" />
            </a>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al carrito">Comprar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="product-area pb-100">
  <div class="container">
    <div class="section-title-8 mt-0 middle-center">
      <h2>Productos destacados</h2>
    </div>
    <div class="row middle-end">
      <div class="col-md-4">
        <div
          class="banner-btn-4 banner-btn-4-modify banner-btn-4-right modify2-mt-65"
        >
          <a href="{% url 'core:detailView' %}"
            >Ver todos los productos
            <img
              class="inject-me"
              src="{% static 'assets/images/icon-img/right-arrow-banner.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="product-slider-active-4">
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="offer-area">
  <div class="container">
    <div class="complete-banner_100">
      <div class="midle-baner_50">
        <img src="{% static 'assets/img/fondo.jpg' %}" alt="" />
      </div>
      <div class="midle-baner_color">
        <div class="baner-center">
          <div class="middle-center">
            <h3>-10% EN COMPRAS ONLINE</h3>
          </div>
        </div>
        <div class="middle-center">
          <div class="btn-style-3 btn-hover">
            <a
              class="btn3-ptb-8 btn3-bg-brown animated"
              href="{% url 'core:detailView' %}"
              >Compra Ahora <i class="icofont-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="pet-food-offer-content  " style="background-image: url(assets/img/fondo.jpg);  background-repeat:no-repeat; background-size:contain; width:100%; padding-top:500px;
            background-color:#FF66C4;">
            <h2>FLASh DEAL</h2>
            <h3>-10% EN COMPRAS ONLINE</h3>
            <p>
              -10% EN COMPRAS ONLINE
              </p>
            <div class="btn-style-3 btn-hover">
                <a class="btn3-ptb-8 btn3-bg-brown animated" href="{% url 'core:detailView' %}">Compra Ahora <i class="icofont-long-arrow-right"></i></a>
            </div>
        </div> -->
  </div>
</div>

<div class="product-area pb-155">
  <div class="container">
    <div class="section-title-8 mt-65 middle-center">
      <h2>Lo más vendidos</h2>
    </div>
    <div class="row middle-end mb-5">
      <div class="col-md-4">
        <div
          class="banner-btn-4 banner-btn-4-modify banner-btn-4-right modify2-mt-65"
        >
          <a href="{% url 'core:detailView' %}"
            >Ver todos los productos
            <img
              class="inject-me"
              src="{% static 'assets/images/icon-img/right-arrow-banner.svg' %}"
              alt=""
          /></a>
        </div>
      </div>
    </div>
    <div class="product-slider-active-4">
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="product-wrap-plr-1">
        <div class="product-wrap">
          <div class="product-img product-img-zoom mb-25">
            <a href="{% url 'core:detailView' %}">
              <img src="{% static 'assets/img/producto.jpg' %}" alt="" />
            </a>
          </div>
          <div class="product-content">
            <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
            <div class="product-price">
              <span>$ XXXX</span>
              <span class="old-price">$ XXXX</span>
            </div>
          </div>
          <div class="product-action-position-1 text-center">
            <div class="product-content">
              <h4><a href="{% url 'core:detailView' %}">Nombre del Producto</a></h4>
              <div class="product-price">
                <span>$ XXXX</span>
                <span class="old-price">$ XXXX</span>
              </div>
            </div>
            <div class="product-action-wrap">
              <div class="product-action-cart">
                <button title="Agregar al Carrito">Agregar al Carrito</button>
              </div>
              <button data-toggle="modal" data-target="#exampleModal">
                <i class="icon-zoom"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-deck mb-50" style="border: none">
  <div class="card">
    <div class="image" style="display: flex; justify-content: center">
      <img
        src="{% static 'assets/img/tienda.png' %}"
        class="card-img-top"
        alt="..."
        style="width: 80px; height: 80px"
      />
    </div>
    <div class="card-body">
      <div class="image" style="display: flex; justify-content: center">
        <h5 class="card-title">Donde comprar?</h5>
      </div>
      <p class="card-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas
        voluptatum suscipit, repellendus doloribus corrupti provident excepturi
        laborum tempore maxime dolorum, labore quibusdam nulla sapiente ex
        assumenda illo sed et. Ipsa?
      </p>
    </div>
  </div>
  <div class="card">
    <div class="image" style="display: flex; justify-content: center">
      <img
        src="{% static 'assets/img/carrito.png' %}"
        class="card-img-top"
        alt="..."
        style="width: 80px; height: 80px"
      />
    </div>
    <div class="card-body">
      <div class="image" style="display: flex; justify-content: center">
        <h5 class="card-title">Compra</h5>
      </div>
      <p class="card-text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officiis
        fugiat, ut corpori s similique deleniti laboriosam harum. Optio porro
        similique sint est fugiat, maxime eius culpa? Culpa repellat inventore
        accusamus incidunt!
      </p>
    </div>
  </div>
  <div class="card">
    <div class="image" style="display: flex; justify-content: center">
      <img
        src="{% static 'assets/img/libreta.png' %}"
        class="card-img-top"
        alt="..."
        style="width: 80px; height: 80px"
      />
    </div>
    <div class="card-body">
      <div class="image" style="display: flex; justify-content: center">
        <h5 class="card-title">Registro</h5>
      </div>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. D icta
        reprehenderit nulla ea! Odio nostrum itaque laboriosam quaerat expedita
        maiores suscipit provident repellat ipsum consequuntur, vero, ab minima
        repudiandae fugiat debitis.
      </p>
    </div>
  </div>
</div>

<div class="contain-form">
  <div class="contain-center">
    <div class="contain-titulo">
      <h4>
        PARA PEDIDOS Y ENCARGOS ESPECIALES <br />
        _
      </h4>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Nombre *</label>
        <input type="text" placeholder="" />
      </div>
      <div class="contain-input">
        <label for="">Apellido *</label>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Email *</label>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Teléfono *</label>
        <input type="text" placeholder="" />
      </div>
    </div>
    <div class="contain-form_input">
      <div class="contain-input">
        <label for="">Mensaje *</label>
        <input type="text" placeholder="" style="height: 100px" />
      </div>
    </div>
    <div class="contain-button">
      <div class="contain_button">
        <button>Enviar</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
