{% extends 'base/base.html' %}
{% block title %}Orden Completa{% endblock %}
{% load static %}

{% block content %}
 
<div class="breadcrumb-area breadcrumb-mt breadcrumb-ptb-2">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Orden Completa</h2>
            <ul>
                <li>
                    <a href="{% url 'core:index' %}">Inicio </a>
                </li>
                <li><span> > </span></li>
                <li>
                    <a href="{% url 'core:store' %}">Productos </a>
                </li>
                <li><span> > </span></li>
                <li class="active"> Pedido Completado </li>
            </ul>
        </div>
    </div>
</div>
<div class="cart-check-order-link-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 ml-auto mr-auto">
                <div class="cart-check-order-link">
                    <a class="active" href="{% url 'core:CheckoutFinish' %}">Pedido completado</a>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="order-complete-area bg-gray pt-50 pb-160">
            <div class="container">
                <div class="order-complete-title">
                    <h2 style="font-weight: bold; color:black;"> Gracias por comprar en Cositas Favoritas. Tu pedido ha sido recibido estaremos procesándolo para su entrega.</h2>
                    {{ res.as_p }}
                    <!-- <h3>su orden no ha sido procesada</h3> -->
                </div>
                <div class="order-product-details">
                    <form action="#" enctype="multipart/form-data" id="paymentC">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th style="color: black; font-weight:bold;">Pedido No°</th>
                                        <th style="color: black; font-weight:bold;">Fecha</th>
                                        <th style="color: black; font-weight:bold;">Total</th>
                                        <th style="color: black; font-weight:bold;">Método de Pago</th>
                                        {% if order.payment_method == 'TB' %}
                                        <th style="color: black; font-weight:bold;">Comprobante de pago:</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="color: black; font-weight:bold;">
                                            {{ order.pk }}
                                        </td>
                                        <td style="color: black; font-weight:bold;">
                                            {{ order.ordered_date }}
                                        </td>
                                        <td style="color: black; font-weight:bold;">
                                            ${{ order.get_total_order }}
                                        </td>
                                        <td style="color: black; font-weight:bold;">
                                            {{ order.payment_method }}
                                        </td>
                                        {% if order.payment_method == 'TB' %}
                                        <td style="color: black; font-weight:bold;">
                                            <div class="mb-3">
                                                <label for="ImagePaymentField" class="form-label"></label>
                                                <input class="form-control" type="file" id="ImagePaymentField">
                                            </div>
                                        </td>
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {{ res.as_p }}
                    </form>
                </div>

                <div class="back-continue-wrap buttons button">
                    <!-- <a href="{% url 'core:check-out' %}" style="visibility: hidden;"> Regresar</a> -->
                    
                    {% if order.payment_method == 'TB' %}
                    <button type="submit" form="paymentC" class="">Subir Comprobante</button>
                    {% endif %}
                    <a href="{% url 'core:store' %}">Visitar Tienda</a>
                </div>
            </div>
        </div>
        

        {% endblock %}